* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--color-bg);
  color: var(--color-text);
}

:root {
  --color-bg: #fffaf5;
  --color-text: #1f1f1f;
  --color-subtext: #5c5c5c;

  --color-accent: #e2bfb3; 
  --color-accent-dark: #d19a8d; 
  
  --color-heading: #1a1a1a;
  --color-card-bg: #e2e1e1;
  --color-border: #e0e0e0;

  --color-sale-bg: #fef1ef;
  --color-sale-text: #c15b5b;

  --color-button-bg: #d89b95;
  --color-button-hover: #b87f79;
  --color-button-text: #ffffff;

  --color-navbar-bg: #ffffff;
  --color-navbar-text: #111827;
}
